<a href="https://colab.research.google.com/github/nimalan-parameshwaran/ML-PROJECT/blob/main/NumPy_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** NumPy**

In [ ]:
import numpy as np

In [ ]:
import numpy as np

# create a list named list1
list1 = [2, 4, 6, 8]

# create numpy array using list1
array1 = np.array(list1)

print(array1)

# Output: [2 4 6 8]

[2 4 6 8]

In [ ]:
import numpy as np

# create a list named list1
list1 = [2, 4, 6, 8]

# create numpy array using list1
array1 = np.array(list1, dtype=np.int16)
array1

# Output: [2 4 6 8]

array([2, 4, 6, 8], dtype=int16)

In [ ]:
import numpy as np

# create numpy array using a list
array1 = np.array([2, 4, 6, 8])
print(array1)

# Output: [2  4  6 8]

[2 4 6 8]

In [ ]:
import numpy as np

# create an array with 4 elements filled with zeros
array1 = np.zeros(4)

print(array1)

# Output: [0. 0. 0. 0.]

[0. 0. 0. 0.]

In [ ]:
import numpy as np

# create an array with 4 elements filled with zeros
array1 = np.zeros(0)

print(array1)

[]

In [ ]:
import numpy as np

# create an array with values from 0 to 4
array1 = np.arange(5)

print("Using np.arange(5):", array1)

# create an array with values from 1 to 8 with a step of 2
array2 = np.arange(1, 9, 2)

print("Using np.arange(1, 9, 2):",array2)
print()
'''np.arange(1, 9, 2) - create an array with 5 elements, where the values range from 1 to 8 with a step of 2.'''

Using np.arange(5): [0 1 2 3 4]
Using np.arange(1, 9, 2): [1 3 5 7]

'np.arange(1, 9, 2) - create an array with 5 elements, where the values range from 1 to 8 with a step of 2.'

In [ ]:
import numpy as np

# generate an array of 5 random numbers
array1 = np.random.rand(5)

print(array1)
#create an array array1 with 5 random numbers.

[0.33639142 0.71318101 0.06315558 0.58657076 0.65119863]

In [ ]:
import numpy as np

# create an empty array of length 4
array1 = np.empty(4)

print(array1)

[4.9e-324 1.5e-323 2.5e-323 3.5e-323]

NumPy N-D Array Creation

In [ ]:
import numpy as np

# create a 2D array with 2 rows and 4 columns
array1 = np.array([[1, 2, 3, 4],
                  [5, 6, 7, 8]])

print(array1)

[[1 2 3 4]
 [5 6 7 8]]

In [ ]:
import numpy as np

# create a 3D array with 2 "slices", each of 3 rows and 4 columns
array1 = np.array([[[1, 2, 3, 4],
                [5, 6, 7, 8],
                [9, 10, 11, 12]],

                [[13, 14, 15, 16],
                 [17, 18, 19, 20],
                 [21, 22, 23, 24]]])

print(array1)

[[[ 1  2  3  4]
  [ 5  6  7  8]
  [ 9 10 11 12]]

 [[13 14 15 16]
  [17 18 19 20]
  [21 22 23 24]]]

In [ ]:
import numpy as np

# create 2D array with 2 rows and 3 columns filled with zeros
array1 = np.zeros((2, 3))

print("2-D Array: ")
print(array1)

# create 3D array with dimensions 2x3x4 filled with zeros
array2 = np.zeros((2, 3, 4))

print("\n3-D Array: ")
print(array2)

2-D Array:
[[0. 0. 0.]
 [0. 0. 0.]]

3-D Array:
[[[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]

 [[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]]

In [ ]:
import numpy as np

# Create a 2-D array with elements initialized to 5
numpy_array = np.full((2, 2), 5)

print("Array:", numpy_array)

Array: [[5 5]
 [5 5]]

In [5]:
import numpy as np

# create a 2D array of 2 rows and 2 columns of random numbers
array1 = np.random.rand(2, 2)

print("2-D Array: ")
print(array1)

# create a 3D array of shape (2, 2, 2) of random numbers
array2 = np.random.rand(2, 2, 2)

print("\n3-D Array: ")
print(array2)

2-D Array:
[[0.25030526 0.91013565]
 [0.41470922 0.54252522]]

3-D Array:
[[[0.44554971 0.73104796]
  [0.33093508 0.41565604]]

 [[0.85368884 0.30279751]
  [0.13182701 0.19064236]]]

In [7]:
np.random.rand(5)

array([0.16939575, 0.32154515, 0.5239024 , 0.18119451, 0.67570976])

In [8]:
np.random.rand(5,5)

array([[0.40296351, 0.23213249, 0.63379774, 0.95443746, 0.75241844],
       [0.61007656, 0.96890202, 0.85115714, 0.83388104, 0.68176303],
       [0.04556279, 0.36073732, 0.69999418, 0.5069138 , 0.48276987],
       [0.74383399, 0.42590188, 0.2738082 , 0.37854346, 0.66253144],
       [0.88651594, 0.61551656, 0.77778929, 0.68200949, 0.76093666]])

In [17]:
np.random.randn(5)
#it goes from -1 to 1 instead of 0 to 1, and it's still outputs

array([-1.76631651,  0.1239374 , -0.05119997, -0.32017451,  0.46170309])

In [19]:
np.random.randn(5,5)
#it goes from -1 to 1 instead of 0 to 1, and it's still outputs

array([[-0.35312765, -1.90401155,  0.1802944 , -0.74744908,  0.55922399],
       [ 0.05077261, -0.84829096, -1.00933674, -0.30788292,  0.06970512],
       [-0.7215244 , -0.94876938, -0.03588202, -0.88617091, -1.97701933],
       [-0.83686833, -2.4150463 , -1.59244575, -1.05361467,  1.46379366],
       [ 0.76016227,  0.63149734, -0.03833701, -1.72034184,  1.10253971]])

In [18]:
np.random.randint(5,20)

18

In [16]:
np.random.randint(5,20,3)

array([ 5,  5, 14])

In [ ]:
import numpy as np

# create a 2D array of 2 rows and 2 columns of random numbers
array1 = np.random.rand(2, 2)

print("2-D Array: ")
print(array1)

# create a 3D array of shape (2, 2, 2) of random numbers
array2 = np.random.rand(2, 2, 2)

print("\n3-D Array: ")
print(array2)

2-D Array:
[[0.68167601 0.62736889]
 [0.13644113 0.32853818]]

3-D Array:
[[[0.73826921 0.15771414]
  [0.51286324 0.42962474]]

 [[0.10171188 0.33814232]
  [0.77740941 0.57883756]]]

In [ ]:
import numpy as np

# create an empty 2D array with 2 rows and 2 columns
array1 = np.empty((2, 2))

print("2-D Array: ")
print(array1)

# create an empty 3D array of shape (2, 2, 2)
array2 = np.empty((2, 2, 2))

print("\n3-D Array: ")
print(array2)

2-D Array:
[[0.50422753 0.68958141]
 [0.5090777  0.40082177]]

3-D Array:
[[[0.56566694 0.42375323]
  [0.4318396  0.46344169]]

 [[0.98137943 0.97716122]
  [0.00580015 0.49423624]]]

In [ ]:
import numpy as np

# create an array of integers
array1 = np.array([2, 4, 6])

# check the data type of array1
print(array1.dtype)

# Output: int64

int64

In [ ]:
import numpy as np

# create an array of  integers
int_array = np.array([-3, -1, 0, 1])

# create an array of floating-point numbers
float_array = np.array([0.1, 0.2, 0.3])

# create an array of complex numbers
complex_array = np.array([1+2j, 2+3j, 3+4j])

# check the data type of int_array
print(int_array.dtype)  # prints int64

# check the data type of float_array
print(float_array.dtype)  # prints float64

# check the data type of complex_array
print(complex_array.dtype)  # prints complex128

int64
float64
complex128

In [ ]:
import numpy as np

# create an array of 32-bit integers
array1 = np.array([1, 3, 7], dtype='int32')

print(array1, array1.dtype)

[1 3 7] int32

In [ ]:
import numpy as np

# create an array of 8-bit integers
array1 = np.array([1, 3, 7], dtype='int8')

# create an array of unsigned 16-bit integers
array2 = np.array([2, 4, 6], dtype='uint16')

# create an array of 32-bit floating-point numbers
array3 = np.array([1.2, 2.3, 3.4], dtype='float32')

# create an array of 64-bit complex numbers
array4 = np.array([1+2j, 2+3j, 3+4j], dtype='complex64')

# print the arrays and their data types
print(array1, array1.dtype)
print(array2, array2.dtype)
print(array3, array3.dtype)
print(array4, array4.dtype)

[1 3 7] int8
[2 4 6] uint16
[1.2 2.3 3.4] float32
[1.+2.j 2.+3.j 3.+4.j] complex64

In [ ]:
import numpy as np

# create an array of integers
int_array = np.array([1, 3, 5, 7])

# convert data type of int_array to float
float_array = int_array.astype('float')

# print the arrays and their data types
print(int_array, int_array.dtype)
print(float_array, float_array.dtype)

[1 3 5 7] int64
[1. 3. 5. 7.] float64

In [ ]:
import numpy as np

# create an array of  integers
int_array = np.array([-3, -1, 0, 1])

# create an array of floating-point numbers
float_array = np.array([0.1, 0.2, 0.3])

# create an array of complex numbers
complex_array = np.array([1+2j, 2+3j, 3+4j])

# check the data type of int_array
print(int_array.dtype)  # prints int64

# check the data type of float_array
print(float_array.dtype)  # prints float64

# check the data type of complex_array
print(complex_array.dtype)  # prints complex128

int64
float64
complex128

In [ ]:
import numpy as np

# create an array of 32-bit integers
array1 = np.array([1, 3, 7], dtype='int32')

print(array1, array1.dtype)

[1 3 7] int32

In [ ]:
import numpy as np

# create an array of integers
array1 = np.array([2, 4, 6])

# check the data type of array1
print(array1.dtype)

# Output: int64

int64

In [ ]:
import numpy as np

# create an array of 8-bit integers
array1 = np.array([1, 3, 7], dtype='int8')

# create an array of unsigned 16-bit integers
array2 = np.array([2, 4, 6], dtype='uint16')

# create an array of 32-bit floating-point numbers
array3 = np.array([1.2, 2.3, 3.4], dtype='float32')

# create an array of 64-bit complex numbers
array4 = np.array([1+2j, 2+3j, 3+4j], dtype='complex64')

# print the arrays and their data types
print(array1, array1.dtype)
print(array2, array2.dtype)
print(array3, array3.dtype)
print(array4, array4.dtype)

[1 3 7] int8
[2 4 6] uint16
[1.2 2.3 3.4] float32
[1.+2.j 2.+3.j 3.+4.j] complex64

In [ ]:
import numpy as np

# create an array of integers
int_array = np.array([1, 3, 5, 7])

# convert data type of int_array to float
float_array = int_array.astype('float')

# print the arrays and their data types
print(int_array, int_array.dtype)
print(float_array, float_array.dtype)

[1 3 5 7] int64
[1. 3. 5. 7.] float64

In [ ]:
import numpy as np

# create an array of integers
int_array = np.array([1, 3, 5, 7])

# convert data type of int_array to float
float_array = int_array.astype('float')

# print the arrays and their data types
print(int_array, int_array.dtype)
print(float_array, float_array.dtype)

[1 3 5 7] int64
[1. 3. 5. 7.] float64

Attributes-Description

**ndim**-returns number of dimension of the array

**size**-returns number of elements in the array

**dtype**-returns data type of elements in the array

**shape**-returns the size of the array in each dimension.

**itemsize**-returns the size (in bytes) of each elements in the array

**data**-returns the buffer containing actual elements of the array in memory

In [ ]:
import numpy as np

# create a 2-D array
array1 = np.array([[2, 4, 6],
                  [1, 3, 5]])

# check the dimension of array1
print(array1.ndim)

# Output: 2

2

In [ ]:
import numpy as np

array1 = np.array([[1, 2, 3],
                 [6, 7, 8]])

# return total number of elements in array1
print(array1.size)

# Output: 6

6

In [ ]:
import numpy as np

array1 = np.array([[1, 2, 3],
                [6, 7, 8]])

# return a tuple that gives size of array in each dimension
print(array1.shape)

# Output: (2,3)

(2, 3)

In [ ]:
import numpy as np

# create an array of integers
array1 = np.array([6, 7, 8])

# check the data type of array1
print(array1.dtype)

# Output: int64

int64

In [ ]:
import numpy as np

# create a default 1-D array of integers
array1 = np.array([6, 7, 8, 10, 13])

# create a 1-D array of 32-bit integers
array2 = np.array([6, 7, 8, 10, 13], dtype=np.int32)

# use of itemsize to determine size of each array element of array1 and array2
print(array1.itemsize)  # prints 8
print(array2.itemsize)  # prints 4

8
4

In [ ]:
import numpy as np

array1 = np.array([6, 7, 8])
array2 = np.array([[1, 2, 3],
                   	    [6, 7, 8]])

# print memory address of array1's and array2's data
print("\nData of array1 is: ",array1.data)
print("Data of array2 is: ",array2.data)

Data of array1 is:  <memory at 0x7f894e9ff4c0>
Data of array2 is:  <memory at 0x7f894ebc6a80>

Function-Description

**save()**-saves an array to a binary file in the NumPy .npy format.

**load()**-loads data from a binary file in the NumPy .npy format

**savetxt()**-saves an array to a text file in a specific format

**loadtxt()**-loads data from a text file.

In [ ]:
import numpy as np

# create a NumPy array
array1 = np.array([[1, 3, 5],
                   [7, 9, 11]])

# save the array to a file
np.save('file1.npy', array1)
'''Here, we saved the NumPy array named array1 to the binary file named file1.npy in our current directory.'''

'Here, we saved the NumPy array named array1 to the binary file named file1.npy in our current directory.'

In [ ]:
import numpy as np

# load the saved NumPy array
loaded_array = np.load('file1.npy')

# display the loaded array
print(loaded_array)

[[ 1  3  5]
 [ 7  9 11]]

In [ ]:
import numpy as np

# create a NumPy array
array2 = np.array([[1, 3, 5],
                   [7, 9, 11]])

# save the array to a file
np.savetxt('file2.txt', array2)
'''The code above will save the NumPy array array2 to the text file named file2.txt in our current directory.'''

'The code above will save the NumPy array array2 to the text file named file2.txt in our current directory.'

In [ ]:
import numpy as np

# load the saved NumPy array
loaded_array = np.loadtxt('file2.txt')

# display the loaded array
print(loaded_array)

[[ 1.  3.  5.]
 [ 7.  9. 11.]]

**Numpy Array Indexing**



![image.png]()

In [ ]:
import numpy as np

array1 = np.array([1, 3, 5, 7, 9])

# access numpy elements using index
print(array1[0])    # prints 1
print(array1[2])    # prints 5
print(array1[4])    # prints 9

1
5
9

In [ ]:
import numpy as np

# create a numpy array
numbers = np.array([2, 4, 6, 8, 10])

# change the value of the first element
numbers[0] = 12
print("After modifying first element:",numbers)    # prints [12 4 6 8 10]

# change the value of the third element
numbers[2] = 14
print("After modifying third element:",numbers)    # prints [12 4 14 8 10]

After modifying first element: [12  4  6  8 10]
After modifying third element: [12  4 14  8 10]

![image.png]()

In [ ]:
import numpy as np

# create a numpy array
numbers = np.array([1, 3, 5, 7, 9])

# access the last element
print(numbers[-1])    # prints 9

# access the second-to-last element
print(numbers[-2])    # prints 7

9
7

In [ ]:
import numpy as np

# create a numpy array
numbers = np.array([2, 3, 5, 7, 11])

# modify the last element
numbers[-1] = 13
print(numbers)    # Output: [2 3 5 7 13]

# modify the second-to-last element
numbers[-2] = 17
print(numbers)    # Output: [2 3 5 17 13]

[ 2  3  5  7 13]
[ 2  3  5 17 13]

In [ ]:
import numpy as np

# create a 2D array
array1 = np.array([[1, 3, 5, 7],
                       [9, 11, 13, 15],
                       [2, 4, 6, 8]])


# access the element at the second row and fourth column
element1 = array1[1, 3]  # returns 15
print("4th Element at 2nd Row:",element1)

# access the element at the first row and second column
element2 = array1[0, 1]  # returns 3
print("2nd Element at First Row:",element2)

4th Element at 2nd Row: 15
2nd Element at First Row: 3

In [ ]:
import numpy as np

# create a 2D array
array1 = np.array([[1, 3, 5],
             [7, 9, 2],
             [4, 6, 8]])

# access the second row of the array
second_row = array1[1, :]
print("Second Row:", second_row)  # Output: [7 9 2]

# access the third column of the array
third_col = array1[:, 2]
print("Third Column:", third_col)  # Output: [5 2 8]

Second Row: [7 9 2]
Third Column: [5 2 8]

In [ ]:
import numpy as np

# create a 3D array with shape (2, 3, 4)
array1 = np.array([[[1, 2, 3, 4],
                   [5, 6, 7, 8],
                   [9, 10, 11, 12]],

                    [[13, 14, 15, 16],
                    [17, 18, 19, 20],
                    [21, 22, 23, 24]]])

# access a specific element of the array
element = array1[1, 2, 1]

# print the value of the element
print(element)

# Output: 22

22

In [ ]:
import numpy as np

# create a 1D array
array1 = np.array([1, 3, 5, 7, 8, 9, 2, 4, 6])

# slice array1 from index 2 to index 6 (exclusive)
print(array1[2:6])  # [5 7 8 9]

# slice array1 from index 0 to index 8 (exclusive) with a step size of 2
print(array1[0:8:2])  # [1 5 8 2]

# slice array1 from index 3 up to the last element
print(array1[3:])  # [7 8 9 2 4 6]

# items from start to end
print(array1[:])   # [1 3 5 7 8 9 2 4 6]

[5 7 8 9]
[1 5 8 2]
[7 8 9 2 4 6]
[1 3 5 7 8 9 2 4 6]

In [ ]:
import numpy as np

# create a numpy array
numbers = np.array([2, 4, 6, 8, 10, 12])

# modify elements from index 3 onwards
numbers[3:] = 20
print(numbers)

# Output: [ 2  4  6 20 20 20]

[ 2  4  6 20 20 20]

In [ ]:
import numpy as np

# create a numpy array
numbers = np.array([2, 4, 6, 8, 10, 12])

# modify the first 3 elements
numbers[:3] = 40
print(numbers)

# Output: [40 40 40  8 10 12]

[40 40 40  8 10 12]

In [ ]:
import numpy as np

# create a numpy array
numbers = np.array([2, 4, 6, 8, 10, 12])

# modify elements from indices 2 to 5
numbers[2:5] = 22
print(numbers)

# Output: [2 4 22 22 22 12]

[ 2  4 22 22 22 12]

In [ ]:
import numpy as np

# create a numpy array
numbers = np.array([2, 4, 6, 8, 10, 12])

# modify every second element from indices 1 to 5
numbers[1:5:2] = 16
print(numbers)

# Output: [ 2 16  6 16 10 12]

[ 2 16  6 16 10 12]

In [ ]:
import numpy as np

# create a numpy array
numbers = np.array([2, 4, 6, 8, 10, 12])

# slice the last 3 elements of the array
# using the start parameter
print(numbers[-3:])    # [8 10 12]

# slice elements from 2nd-to-last to 4th-to-last element
# using the start and stop parameters
print(numbers[-5:-2])    # [4 6 8]

# slice every other element of the array from the end
# using the start, stop, and step parameters
print(numbers[-1::-2])   # [12 8 4]

[ 8 10 12]
[4 6 8]
[12  8  4]

In [ ]:
import numpy as np

# create a numpy array
numbers = np.array([2, 4, 6, 8, 10, 12])

# generate reversed array
reversed_numbers = numbers[::-1]
print(reversed_numbers)

# Output: [12 10 8 6 4 2]

[12 10  8  6  4  2]

In [ ]:
import numpy as np

# create a 2D array
array1 = np.array([[1, 3, 5, 7],
                      [9, 11, 13, 15],
                      [2, 4, 6, 8]])


# slice the array to get the first two rows and columns
subarray1 = array1[:2, :2]

# slice the array to get the last two rows and columns
subarray2 = array1[1:3, 2:4]

# print the subarrays
print("First Two Rows and Columns: \n",subarray1)
print("Last two Rows and Columns: \n",subarray2)

First Two Rows and Columns:
 [[ 1  3]
 [ 9 11]]
Last two Rows and Columns:
 [[13 15]
 [ 6  8]]

In [ ]:
import numpy as np

array1 = np.array([1, 3, 5, 7, 2, 4, 6, 8])

# reshape a 1D array into a 2D array
# with 2 rows and 4 columns
result = np.reshape(array1, (2, 4))
print(result)

[[1 3 5 7]
 [2 4 6 8]]

In [ ]:
import numpy as np

# reshape a 1D array into a 2D array
# with 4 rows and 2 columns
array1 = np.array([1, 3, 5, 7, 2, 4, 6, 8])
result1 = np.reshape(array1, (4, 2))
print("With 4 rows and 2 columns: \n",result1)


# reshape a 1D array into a 2D array with a single row
result2 = np.reshape(array1, (1, 8))
print("\nWith a single row: \n",result2)

With 4 rows and 2 columns:
 [[1 3]
 [5 7]
 [2 4]
 [6 8]]

With a single row:
 [[1 3 5 7 2 4 6 8]]

In [ ]:
import numpy as np

# create a 1D array
array1 = np.array([1, 3, 5, 7, 2, 4, 6, 8])

# reshape the 1D array to a 3D array
result = np.reshape(array1, (2, 2, 2))

# print the new array
print("1D to 3D Array: \n",result)

1D to 3D Array:
 [[[1 3]
  [5 7]]

 [[2 4]
  [6 8]]]

In [ ]:
import numpy as np

# flatten 2D array to 1D
array1 = np.array([[1, 3], [5, 7], [9, 11]])
result1 = np.reshape(array1, -1)
print("Flattened 2D array:", result1)

# flatten 3D array to 1D
array2 = np.array([[[1, 3], [5, 7]], [[2, 4], [6, 8]]])
result2 = np.reshape(array2, -1)
print("Flattened 3D array:", result2)

Flattened 2D array: [ 1  3  5  7  9 11]
Flattened 3D array: [1 3 5 7 2 4 6 8]